## -*- coding: UTF-8 -*-
<%inherit file="../layout.html" />

<%namespace name="accordion" file="/widgets/accordion.html" />

${next.body()}

<%def name="route_pref()"></%def>

<%def name="controls(id='controls')">
  <%call expr="accordion.accordion(id)">
    <%call expr="accordion.accordion_group('Search the Map')">
      <div id="locations">
        <ul>
          <li class="ui-tabs-nav-item">
            <a href="#search-the-map"><span><b>Search</b></span></a>
          </li>
        </ul>

        <div id="search-the-map">
          <form id="query_form" method="get" action="/regions/portlandor/services/find">
            <div>
              <div class="input_label">
                <label for="q">
                  Enter address, intersection, or route
                </label>
              </div>

              ${h.text(
                'q', id='q', value='', title='Enter an address or route')}

              ${h.submit(
                'commit', 'Search Map',
                title='Click to search the map')}
            </div>
          </form>
        </div>
      </div>
    </%call>

    <%call expr="accordion.accordion_group('Find a Route')">
      <div id="routes">
        <ul>
          <li class="ui-tabs-nav-item">
            <a href="#find-a-route"><span><b>Find Route</b></span></a>
          </li>
        </ul>

        <div id="find-a-route">
          <form id="route_form" method="get" action="/regions/portlandor/routes/find">
            <div>
              <div class="input_label">
                <label for="s">
                  Enter start and end addresses
                </label>
              </div>

              ${h.text(
                's', id='s', value='', title='Enter start address')}
              <br />
              ${h.text(
                'e', id='e', value='', title='Enter end address')}

              ${self.route_pref()}

              ${h.submit(
                'commit', 'Find Route',
                title='Click to find a route')}
            </div>
          </form>
        </div>
      </div>
    </%call>

    % if 0 and c.region.races:
      <%call expr="accordion.accordion_group('Races')">
        <div id="races">
          <% geom = c.region.get_race_geom() %>
          % for i, race in enumerate(c.region.races):
            <div class="race ${['a', 'b'][i % 2]}">
              % if race.geom:
                <% onclick = 'APP.UI.map.setCenter({x: %s, y: %s})' % (
                     geom[race.id].x, geom[race.id].y) %>
              % else:
                <% onclick = '' %>
              % endif
              ${h.link_to(
                'Show on map', '#show-race-on-map',
                onclick='%s;' % onclick)}
              |
              ${h.link_to(
                race.title,
                race.url, title='%s : %s' % (race.series, race.title),
                target='byCycle_race_window')}
            </div>
          % endfor
        </div>
      </%call>
    % endif

    ${parent.controls()}
  </%call>
</%def>
