html, body, table, td, tr, form {
  padding: 0;
  margin: 0;
}

html, body {
  overflow: hidden;
  height: 100%;
}

body {
  min-width: 700px;
}

body, td {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color: white;
  color: black;
}

table {
  border-collapse: collapse;
}

td {
  vertical-align: top;
}

img {
  border: 0;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

a {
  color: #46d;
}

a:hover {
  color: orange;
}

#loading {
  margin: 0;
  padding: 20px;
  background: #fd766a;
  border-bottom: 1px solid gray;
}

#loading h1 {
  margin-top: 0;
}

#loading p {
  margin-bottom: 0;
}

#root_container {
  height: 100%;
  visibility: hidden;
  overflow: hidden;
}

#top_container {
  height: 86px;
  border-bottom: 1px solid gray;
}


/* Logo */

#logo_pane {
  border-right: 1px solid gray;
  padding: 10px;
  background: #fffa73;
}


/* Input */

#input_container {
  overflow: hidden;
  padding: 5px;
}

body .dojoTabPane {
  padding: 5px;
}

#q {
  width: 368px;
}

#s, #e {
  width: 170px;
}

#swap_s_and_e a {
  text-decoration: none;
}

.input_label {
  margin-top: 5px;
  font-size: 11px;
  color: #404040;
}


/* Status & Links */

#bar {
  font-size: 12px;
  height: 22px;
  background: #a7cc95;
  padding: 5px;
  border-bottom: 1px solid gray;
}

#spinner {
  float: left;
  width: 16px;
  height: 16px;
  background: white;
  margin-right: 2px;
  padding: 2px;
  border: 1px solid gray;
}

#status, #links {
  padding-top: 3px;
}

#links {
  text-align: right;
}


/* Display */

#display_container {
  padding: 5px;  
}

#message_pane {

}

#result_container {
  overflow: hidden;
}

#results .fixed_pane {
  margin-bottom: 2px;
}

.result_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.result_list li {
  margin-bottom: 5px;
}

.multi .window .title_bar, .multi .window .title_bar td {
  background: #99b3cc;
}

.route_multi {

}

.errors .title_bar, .errors .title_bar td {
  background: #fd766a;
}

.errors div.error {
  margin-bottom: 2px;
  padding: 2px;
  border: 1px solid #fd766a;
}

#reverse_div {
  margin-bottom: 5px;
}

.disclaimer {
  font-size: 10px;
  font-style: italic;
  color: #444;
}


/* Map */

/* Contains map, map controls, and any other map-related stuff */

#map_container {
  width: 80%;
}

#map_menu {
  border: 1px solid gray;
  border-top: none;
  padding: 5px;
}

/* The map object is inserted here */
#map_pane {
  overflow: hidden;
  background: #99b3cc;
  border: solid gray;
  border-width: 0 1px;
}

.info_win {
  width: 250px;
}


/* Ads */

#ads_pane {
  width: 120px;
  overflow: hidden;
  border-width: 0;
}


/* Debug */

#debug_window {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 400px;
  overflow: auto;
  background: white;
}


/* Route Summary & Directions */

.start {
  color: #a7cc95;
}

.end {
  color: #fd766a;
}

.summary, .directions {
  border: 1px solid gray;
}

.summary div {
  border-bottom: 1px solid gray;
  padding: 2px;
}

.summary a {
  text-decoration: none;
}

.directions {
  border: 1px solid gray;
}

.directions div {
  padding: 2px;
}

.directions a {
  text-decoration: none;
  color: black;
}

.directions a:hover {
  color: orange;
}

.a {
  background: #ccc;
}

.b {
  background: #fff;
}


/* Print Rules */

@media print {
  html, body, #display_container {
    overflow: visible;
  }

  #print_header {
    display: block;
  }

  #links,
  #input,
  #reverse_div,
  #map_menu,
  #ads_pane {
    display: none;
  }
}
