html, body {
    height: 100%;
    overflow: hidden;
}

a {

}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 167%;
}

h2 {
    font-size: 152%;
}

p {
    margin: 5px 0;
}

fieldset {
    border: 1px solid gray; 
    padding: 5px;
    margin: 5px 0;
}


/* Main Layout */

/* Outer wrapper */
#doc, #doc2, #doc3 {
    margin: auto;
}

/* Header */
#hd {
    padding: 5px;
}

#logo a {
    color: black;
    text-decoration: none;
}

#tag_line {
    float: right;
}

ul#nav {
    float: left;
}

ul#nav li {
    display: inline;
}

/* Body--main content section */
#bd {
    border-top: 1px solid gray;
}

/* Content section for list/show/edit/new/delete */
#content {
    padding: 5px;
    overflow: auto;
}

#map {
    border-left: 1px solid gray;
    height: 400px;
}

/* Footer */
#ft {
    display: none;
    height: 0;
    width: 0;
}

/* End Main Layout */


ul#days {
    
}

ul#days li.day_li {
    margin-bottom: 5px;
}

.day {
    border: 1px solid gray;
}

.day_name {
    background: #99b3cc;
    padding: 2px;
    border-bottom: 1px solid gray;
}

.day_events {
    padding: 2px;
}

.event, .location {
    border: 1px solid gray;
    padding: 5px;
}

textarea, input {
    width: 95%;
} 

ul#locations li {
    margin-bottom: 5px;
}

#location_state {
    width: 30px;
}

#location_zip {
    width: 75px;
}



