html, body, table, td, tr, form
{
  padding: 0;
  margin: 0;
  }

html, body
{
  overflow: hidden;
  height: 100%;
  }

body
{
  min-width: 700px;
 }

body, td
{
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color: white;
  color: black;
  }

table
{
  border-collapse: collapse;
 }

td
{
  vertical-align: top;
 }

img
{
  border: 0;
  }

h1
{
  font-size: 20px;
  }

h2
{
  font-size: 16px;
  }

h3
{
  font-size: 14px;
  }

h4
{
  font-size: 12px;
  }

a
{
  color: #46d;
  }

a:hover
{
  color: orange;
  }

hr
{
  color: gray;
  background-color: gray;
  height: 1px;
  border: none;
  }


/* General */

.clear
{
  clear: both;
  }

.page_section
{
  padding: 4px;
  border-bottom: 1px solid gray;
  }


#top table, #middle table
{
  width: 100%;
  border-collapse: collapse;
  }

#top
{
  padding: 0;
  }

#middle
{
  background: #a7cc95;
  }


/* Logo */

#logo_cell
{
  width: 93px;
  border-right: 1px solid gray;
  padding: 10px;
  background: #fffa73;
  vertical-align: middle;
  }

#logo
{
  font-weight: bold;
  }

#logo h1
{
  margin: 0;
  }

#logo a
{
  color: black;
  text-decoration: none;
  }


/* Input */

#input
{
  padding: 0;
  }

#q
{
  width: 368px;
 }

#s, #e
{
  width: 170px;
 }

#swap_s_and_e a
{
  text-decoration: none;
  }

.input_label
{
  margin-top: 4px;
  font-size: 11px;
  color: #404040;
 }


/* Status & Links */

#status, #links
{
  background: #a7cc95;
  }

#links
{
  text-align: right;
 }

#regions_container
{
  position: relative;
  text-align: left;
  z-index: 1000000;
  }

#regions_window
{
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  }


/* Content */

#content
{
  padding: 0;
  border-bottom: none;
  }

#content table
{

  }

#content td
{
  vertical-align: top;
  padding: 0;
  margin: 0;
  }

/* Display */

#display
{
  position: relative;
  width: 300px;
  padding: 4px;
  overflow: auto;
  }

#spinner
{
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  padding: 2px;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  }

.result
{
  margin-bottom: 2px;
  }

.result_list li
{
  margin-bottom: 5px;
  }

.multi .window .title_bar, .multi .window .title_bar td
{
  background: #99b3cc;
  }

.route_multi
{

  }

.errors .title_bar, .errors .title_bar td
{
  background: #fd766a;
  }

.errors div.error
{
  margin-bottom: 2px;
  padding: 2px;
  border: 1px solid #fd766a;
  }

#reverse_div
{
  margin-bottom: 4px;
  }

.disclaimer
{
  font-size: 10px;
  font-style: italic;
  color: #444;
  }


/* Map */

#map
{
  background: #99b3cc;
  border: solid gray;
  border-width: 0 1px;
  }

.loading
{
  background: #fd766a;
  color: white;
  font-weight: bold;
  padding: 4px;
  }

.info_win
{
  width: 250px;
  }


/* Ads */

#ads
{
  width: 120px;
  overflow: hidden;
  border-width: 0;
  }


/* Route Summary & Directions */

.start
{
  color: #a7cc95;
  }

.end
{
  color: #fd766a;
  }

.summary, .directions
{
  border: 1px solid gray;
  }

.summary div
{
  border-bottom: 1px solid gray;
  padding: 2px;
  }

.summary a
{
  text-decoration: none;
  }

.directions
{
  border: 1px solid gray;
  }

.directions div
{
  padding: 2px;
  }

.directions a
{
  text-decoration: none;
  color: black;
  }

.directions a:hover
{
  color: orange;
  }

.a
{
  background: #ccc;
  }

.b
{
  background: #fff;
  }


/* Window */

.window
{
  border: 1px solid gray;
  }

.window table
{
  width: 100%;
  border-collapse: collapse;
  }

.title_bar
{
  padding: 2px;
  border-bottom: 1px solid gray;
 }

.title_bar a
{
  color: white;
  text-decoration: none;
  }

.title_bar a:hover
{
  color: orange;
  }

.title_bar, .title_bar td
{
  color: white;
  background: #99b3cc;
  font-size: 12px;
  font-weight: bold;
  }

.title_bar td
{
  vertical-align: middle;
  }

.title_bar td.l
{
  text-align: left;
  }

.title_bar td.r
{
  text-align: right;
  }

.title_bar .button
{
  color: gray;
  text-decoration: none;
  }

.title_bar .button:hover
{
  color: black;
  }

.content_pane
{
  padding: 2px;
  background: white;
  }


/* Tab Pane */

.tab_pane
{
  }

.tab_labels, .tab_contents
{
  padding: 4px;
  }

.tab_labels
{
  padding-bottom: 0;
  border-bottom: 1px solid gray;
  margin-bottom: 4px;
  font-weight: bold;
  }

.tab_labels ul
{
  width: auto;
  list-style: none;
  margin: 0;
  padding : 0;
  }

.tab_label
{
  width: auto;
  float: left;
  margin: 0px;
  padding: 0px;
  text-align: center;
  margin: 0 1px -1px 0;
  padding: 0 4px;
  background: #99b3cc;
  border: 1px solid gray;
 }

.tab_label a
{
  width: auto;
  float: left;
  display: block;
  text-decoration: none;
  color: black;
 }

.tab_label a:hover
{
  color: white;
  }

.tab_label.selected
{
  background: white;
  border-bottom: 1px solid white;
  }

.tab_label.selected a:hover
{
  color: black;
  }


/* Print Rules */

@media print
{
  html, body, #display
  {
    overflow: visible;
    }

  #print_header
  {
    display: block;
    }

  #links,
  #input,
  #reverse_div,
  #map_menu,
  #ads
  {
    display: none;
    }
}
