## -*- coding: UTF-8 -*-
<%inherit file="/services/index.html" />
<%namespace name="accordion" file="/widgets/accordion.html" />

${next.body()}

<%def name="route_pref()"></%def>

<%def name="controls(id='controls')">
  <%call expr="accordion.accordion(id)">
    <%call expr="accordion.accordion_group('Search the Map')">
      <div id="locations">
        <ul>
          <li class="ui-tabs-nav-item">
            <a href="#search-the-map"><span><b>Search</b></span></a>
          </li>
        </ul>

        <div id="search-the-map">
          <form id="query_form" method="get" action="/regions/portlandor/services/find">
            <div>
              ${h.text(
                'q', id='q', value='', title='Enter an address or route')}

              <div class="input_label">
                <label for="q">
                  <b>Enter address, intersection, or route</b><br />
                  4012 SE 17th<br />
                  SE 49th & Kelly<br />
                  300 SE Main, Portland<br />
                  300 SE Main 97215<br />
                  SE 17th & Center <i>to</i> 1807 SE 53rd, Portland<br />
                </label>
              </div>

              ${h.submit(
                'commit', 'Search Map',
                title='Click to search the map')}
            </div>
          </form>
        </div>
      </div>
    </%call>

    <%call expr="accordion.accordion_group('Find a Route')">
      <div id="routes">
        <ul>
          <li class="ui-tabs-nav-item">
            <a href="#find-a-route"><span><b>Find Route</b></span></a>
          </li>
        </ul>

        <div id="find-a-route">
          <form id="route_form" method="get" action="/regions/portlandor/routes/find">
            <div>
              ${h.text(
                's', id='s', value='', title='Enter start address')}
              <br />
              ${h.text(
                'e', id='e', value='', title='Enter end address')}

             <div class="input_label">
                <b>Enter start and end addresses</b><br />
                  SE 17th & Center <i>to</i> 1807 SE 53rd, Portland<br />
              </div>

              ${self.route_pref()}

              ${h.submit(
                'commit', 'Find Route',
                title='Click to find a route')}
            </div>
          </form>
        </div>
      </div>
    </%call>
  </%call>
</%def>
