html, body, table, td, tr, form {
  padding: 0;
  margin: 0;
}
html, body {
  overflow: hidden;
  height: 100%;
}
body {
  font-size: 75%;
}
body, td {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  background-color: white;
  color: black;
}

td { vertical-align: top; }

img { border: 0; }

a { color: #46d; }
a:hover { color: orange; }


.clear { clear: both; }
.no-top-margin { margin-top: 0; }
.no-bottom-margin { margin-bottom: 0; }
.small { font-size: 75%; }
.attention, .attention a {
  color: red;
  font-weight: bold;
}
.attention a:hover {
  color: orange;
}


/* Top level */
#wrapper {
  height: 100%;
  min-width: 600px;
}

#header {
  padding: .3em .2em;
  text-align: right;
  background-color: #eee;
  border-bottom: 1px solid #aaa;
}

#loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999999;
  border-collapse: collapse;
}
#loading td {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}


/* Content Column Layout */
#content, #col-a, #col-b {
  height: 100%;
}
#col-a {
  float: left;
  width: 30%;
}
#col-b {
  float: right;
  width: 70%;
  position:relative;
}


/* Input Controls */
#controls {

}
#q, #s, #e {
  width: 95%;
  text-align: left;
}
#swap_s_and_e a {
  text-decoration: none;
}
/* Input Labels */
.input_label {
  font-size: 85%;
  font-weight: bold;
  color: #333;
}

/* Content Column A -- Results and Messages */
#query-results {
  display: none;
}
#spinner {
  position: absolute;
  right: 50%;
  top: 50%;
  z-index: 99999;
}
.spinner {
  float: left;
  width: 16px;
  height: 16px;
  background: white;
  padding: 2px;
  border: 1px solid #000;
}


/* Errors */
#error_content h2, #error_content h3 {
  font-weight: bold;
}
#error_content h2 {
  font-size: 110%;
}
#error_content h3 {
  font-size: 105%;
}
#error_content ul {
  width: 96%;
}
#error_content ul li {
  padding: .2em;
}
#error_content ul li.error {
  color: red;
}
#error_content ul li.a {
  background-color: #eee;
}
#error_content ul li.b {
  background-color: #ddd;
}


/* The map object is inserted here */
#map_pane {
  background: #ccdafc;
  height: 100%;
}


/* Route Summary & Directions */
div.start,
div.end,
div.total-distance,
div.reverse-directions,
div.directions div {
  border-bottom: 1px solid #888;
  padding: 2px;
}
div.start a {
  color: green;
}
div.end a {
  color: red;
}
div.directions div.direction div.jogs {
  border-bottom: none;
}
div.a { background: #ddd; }
div.b { background: #fff; }
span.count { text-align: right; }
span.turn { font-weight: bold; }
span.segment_distance { font-style: italic; }
