/* Styles for TabView widgets */
div.yui-navset {
  border: 1px solid #99b3cc
}
div.yui-navset ul.yui-nav {
  background-color: #d0d7de;
  border-bottom: 1px solid #99b3cc;
}
div.yui-navset ul.yui-nav li {
  margin: 0;
  padding: 1px 5px;
  background-color: #eef;
  border-right: 1px solid #99b3cc;
}
div.yui-navset ul.yui-nav li.selected {
  background-color: #fff;
  margin-bottom: -1px;
  padding-top: 2px;
}
/* Tab Button Links */
div.yui-navset ul.yui-nav li a {
  text-decoration: none;
}
div.yui-navset ul.yui-nav li a:hover {
  text-decoration: underline;
}
div.yui-navset ul.yui-nav li.selected a,
div.yui-navset ul.yui-nav li.selected a:hover {
  color: #222;
  text-decoration: none;
}
/* Tab Contents */
div.yui-navset div.yui-content {
  padding: 5px;
}
