html, body, table, td, tr, form {
  padding: 0; 
  margin: 0;
}

html, body {
  height: 100%;
}

body, td {
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 12px;
  background-color: white;
  color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  vertical-align: top;  
}

img {
  border: 0;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

a {
  color: #46d;
}

a:hover {
  color: #f08000;
}

hr {
  color: gray;
  background-color: gray;
  height: 1px;
  border: none;
}


/* General */

#content_pane {
  margin: 5px;
}

.page_section {
  margin-bottom: 5px;
}


/* Header */

#header {

}

#logo {
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
}

#logo * {
  text-decoration: none;
  color: #000;
}

#links {
  text-align: right;
}


/* Status */

#map_menu {  
  background: #fffa73; /*99b3cc;*/
  border: 1px solid gray;
  padding: 5px 5px 3px 5px;
}


/* Content */

#content {
  margin-bottom: 0;
}

#content_table { 
  table-layout: fixed;
}

#left_panel, #right_panel { 

}


/* Left Panel */

#left_panel {
  width: 300px;
  padding-right: 5px;
}

/* Input */

#input {  
  background: #a7cc95;
  border: 1px solid gray;
  margin-bottom: 5px;
  padding: 5px 5px 0 5px;
}

.input_form, .input_form div {
  margin-bottom: 5px;
}

.input_title {  
  font-weight: bold;
}

.input_field { 
  width: 244px;
}

.input_button { 
  width: 35px;
}

#pref_div {

}

#result {
  overflow: auto;
  padding: 1px 2px 1px 1px;
}

#status {
  padding: 5px;
  margin-bottom: 5px;
  background: #FD766A;
  color: black;
  font-weight: bold;
  border: 1px solid gray;
}


/* Right Panel */

#map {
  border: 1px solid #888;
}

#loading {
  padding: 4px;
}

.info_win {
  width: 250px;
}


/* Footer */

#footer {
  font-size: 11px;
  padding: 5px 0;
}

.disclaimer {
  font-size: 10px;
  font-style: italic;
  color: #444;
}


/* Directions Table */

.start {
  color: green;
}

.end {
  color: red;
}

.start h2, .end h2, .total_distance h2 {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}

#summary { 
  margin-bottom: 4px;
}

#summary, #directions {

}

#summary td, #directions td {
  border: 1px solid #888;
  padding: 2px;
}

.error {
  color: red;
}
.a {
  background: #fff;
}
.b {
  background: #eee;
}
.count {

}
