html, body {
  overflow: hidden;
  height: 100%;}

table {
  width: 100%;
  border-collapse: collapse;}

td {
  vertical-align: top;}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 167%;
}

h2 {
    font-size: 152%;
}

p, li {
  margin-bottom: 10px;
}

a {
  color: #46d;}

a:hover {
  color: #f08000;}

hr {
  color: gray;
  background-color: gray;
  height: 5px;
  border: none;}

#doc3 {
  padding: 10px;
}

/* Header */

#hd {
  margin-bottom: 5px;
  height: 100px;
}

#logo, #input {
  height: 100px;
  border: 1px solid gray;
}

#logo {
  font-weight: bold;
  font-size: 14px;
  background: #a7cc95;
}

#logo a {
  text-decoration: none;
  color: #000;}

#logo a:hover {
  color: #f08000;}

#input {

}

#map_menu, #input_tab_buttons {
  border-bottom: 1px solid gray;
  padding: 5px;
  background: #99b3cc;
}

#map_menu a, #input_tab_buttons li a {
  color: white;
  font-weight: bold;
}

#input_tab_contents {
  padding: 5px;
  height: 62px;
  overflow: auto;
}

#input_tab_buttons li a, #input_tab_buttons li a em {
  color: white;
  font-weight: bold;
}

#input_tab_buttons li.selected a, #input_tab_buttons li.selected a em {
  color: black;
}

#links {
  margin: 5px 0;
  background: gray;
  border: 1px solid #444;
  padding: 5px;
}

#links a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}


/* Input */

a.selected {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

#q {
  width: 400px;
}

#fr, #to {
  width: 184px;
}


/* Left Column */

#tips {
  border: 1px solid gray;
  margin-bottom: 5px;
  padding: 5px;
}

#result {
  overflow: auto;}

#status {
  padding: 5px;
  margin-bottom: 5px;
  background: #a7cc95;
  color: black;
  font-weight: bold;
  border: 1px solid gray;}

#reverse_div {
  margin-bottom: 5px;
}



/* Center Panel */

#notice {
  font-weight: bold;
  font-size: 125%;
  border-bottom: 1px solid gray;
  padding: 5px;
  background: #fd766a;
  text-align: center;
}

#notice a {
  color: #46d;
}

#map_menu {
  border-bottom: 2px solid #666;
  padding: 5px;
}

#loading {
  padding: 5px;
}

.info_win {
  width: 250px;}

.disclaimer {
  font-size: 10px;
  font-style: italic;
  color: #444;}


/* Directions Table */

.start {
  color: green;
}

.end {
  color: red;
}

.start h2, .end h2, .total_distance h2 {
  padding: 0px;
  margin: 0px;
  font-size: 14px;}

.summary td, .directions td {
  border: 1px solid gray;
  padding: 4px;
}

.error {
  color: red;
}

.a {
  background: #ddd;
}

.b {
  background: #fff;
}

.count, .turn, .segment_distance {
  vertical-align: middle;
  text-align: center;
}

.mma_list li {
  margin-bottom: 10px;
}

.clear {
  clear: both;
}

@media print {
  html, body, #result {
    overflow: visible;}

  #yui-main div {
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #hd,
  #spacer,
  #reverse_div,
  #notice,
  #map_menu,
  #footer,
  #secondary,
  #ft {
    display: none;
  }
}
