/* LIVE */
html, body, table, td, tr, form {
  padding: 0;
  margin: 0;
}
html, body {
  overflow: hidden;
  height: 100%;
}
body, td {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 80%;
  background-color: white;
  color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
}
td {
  vertical-align: top;
}

img {
  border: 0;
}

a {
  color: #46d;
}
a:hover {
  color: orange;
}

.clear {
  clear: both;
}


/* Top level layout */
#header, #content {
  margin-right: 125px;
  padding: 5px;
}
#header {
  padding-bottom: 0;
}
#ads {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 120px;
}


/* Masthead */
#masthead { 
  float: left;
  width: 150px;
}
#masthead a {
  text-decoration: none;
  color: #000;
}
#masthead a:hover {
  color: orange;
}
#version {
  text-align: center;
  font-size: 85%;
}


/* Input Tabs */
#input {
  margin-left: 155px;
  border: 1px solid gray;
}
ul#input_tab_buttons {
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}
ul#input_tab_buttons li {
  margin: 0;
  padding: 2px 5px;
  border-right: 1px solid gray;
}
ul#input_tab_buttons li a, ul#input_tab_buttons li a em {
  color: white;
  font-weight: bold;
}
#input_tab_buttons li.selected {
  background: white;
}
#input_tab_buttons li.selected a, #input_tab_buttons li.selected a em {
  color: black;
  text-decoration: none;
}
.input_tab_content {
  padding: 5px;
  height: 75px;
  overflow: auto;
}
.first-p {
  margin-top: 0;
  padding-top: 0;
}
#q {
  width: 400px;
}

#fr, #to {
  width: 184px;
}
#tips {
  width: 90%;
  list-style-type: disc;
}
#tips li {
  margin-left: 20px;
}
#links {
  margin: 5px 0;
  background: gray;
  border: 1px solid #444;
  padding: 5px;
}
#links a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}


/* Content ***********/

/* Column Layout */
#col-a {
  float: left;
  width: 30%;
}
#col-b {
  float: right;
  width: 69%;
}

/* Left Column */
#status {
  padding: 5px;
  margin-bottom: 5px;
  background: #a7cc95;
  color: black;
  font-weight: bold;
  border: 1px solid gray;
}

#result {
  padding-right: 5px;
  overflow: auto;
}

#reverse_div {
  margin-bottom: 5px;
}

.disclaimer {
  font-size: 10px;
  font-style: italic;
  color: #444;
}


/* Center Panel */
#map_container {
 border: 1px solid gray;
}
#notice {
  font-weight: bold;
  font-size: 125%;
  border-bottom: 1px solid gray;
  padding: 5px;
  background: #fd766a;
  text-align: center;
}
#notice a {
  color: #46d;
}
/* Map Menu */
#map_menu, #input_tab_buttons {
  border-bottom: 1px solid gray;
  padding: 5px;
  background: #99b3cc;
}
#map_menu a, #input_tab_buttons li a {
  color: white;
  font-weight: bold;
}

#loading {
  padding: 5px;
}

.info_win {
  width: 250px;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2px;
  font-size: 11px;
  background: #ddd;
  z-index: 1000;
}

/* Directions Table **********/

.start {
  color: green;
}

.end {
  color: red;
}

.start h2, .end h2, .total_distance h2 {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}

.summary td, .directions td {
  border: 1px solid gray;
  padding: 4px;
}

.error {
  color: red;
}

.a {
  background: #ddd;
}

.b {
  background: #fff;
}

.count, .turn, .segment_distance {
  vertical-align: middle;
  text-align: center;
}

.mma_list li {
  margin-bottom: 10px;
}


/* Print Rules **********/

@media print {
  html, body, #result {
    overflow: visible;
  }

  #yui-main div {
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #hd,
  #spacer,
  #reverse_div,
  #notice,
  #map_menu,
  #footer,
  #secondary,
  #ft {
    display: none;
  }
}
