html, body {
  overflow: hidden;
  height: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  vertical-align: top;
}

/* Headings */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
h1 { font-size: 167%; }
h2 { font-size: 152%; }

p {
  margin-bottom: 10px;
}

li {
  margin-bottom: 5px;
}

a {
  color: #46d;
}

a:hover {
  color: #f08000;
}

.clear {
  clear: both;
}


/* Document Container **********/
#doc3 {
  padding: 10px;
}


/* Header **********/

#hd {
  margin-bottom: 10px;
}

/* Masthead */
#masthead { 
  position: absolute;
  top: 10px;
  left: 10px;
}
#masthead a {
  text-decoration: none;
  color: #000;
}
#masthead a:hover {
  color: #f08000;
}
/* Logo */
#logo {
  vertical-align: middle;
}
#logo, #input {
  /*height: 100px;*/
}
#logo {
  width: 160px;
}
#version {
  text-align: center;
  font-size: 75%;
}

/* Input Tabs */
#input {
  height: 112px;
  margin-left: 160px;
  border: 1px solid gray;
}
#input_tab_buttons li a, #input_tab_buttons li a em {
  color: white;
  font-weight: bold;
}
#input_tab_buttons li.selected a, #input_tab_buttons li.selected a em {
  color: black;
  text-decoration: none;
}
.input_tab_content {
  padding: 5px;
  height: 75px;
  overflow: auto;
}
#q {
  width: 400px;
}

#fr, #to {
  width: 184px;
}
#tips {
  width: 90%;
  list-style-type: disc;
}
#tips li {
  margin-left: 20px;
}
#links {
  margin: 5px 0;
  background: gray;
  border: 1px solid #444;
  padding: 5px;
}
#links a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}


/* Body ***********/

/* Left Column */
#status {
  padding: 5px;
  margin-bottom: 5px;
  background: #a7cc95;
  color: black;
  font-weight: bold;
  border: 1px solid gray;
}

#result {
  overflow: auto;
}

#reverse_div {
  margin-bottom: 5px;
}

.disclaimer {
  font-size: 10px;
  font-style: italic;
  color: #444;
}


/* Center Panel */
#notice {
  font-weight: bold;
  font-size: 125%;
  border-bottom: 1px solid gray;
  padding: 5px;
  background: #fd766a;
  text-align: center;
}

#notice a {
  color: #46d;
}

/* Map Menu */
#map_menu, #input_tab_buttons {
  border-bottom: 1px solid gray;
  padding: 5px;
  background: #99b3cc;
}
#map_menu a, #input_tab_buttons li a {
  color: white;
  font-weight: bold;
}

#loading {
  padding: 5px;
}

.info_win {
  width: 250px;
}

#footer { 
  font-size: 11px;
}

/* Directions Table **********/

.start {
  color: green;
}

.end {
  color: red;
}

.start h2, .end h2, .total_distance h2 {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}

.summary td, .directions td {
  border: 1px solid gray;
  padding: 4px;
}

.error {
  color: red;
}

.a {
  background: #ddd;
}

.b {
  background: #fff;
}

.count, .turn, .segment_distance {
  vertical-align: middle;
  text-align: center;
}

.mma_list li {
  margin-bottom: 10px;
}


/* Print Rules **********/

@media print {
  html, body, #result {
    overflow: visible;
  }

  #yui-main div {
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #hd,
  #spacer,
  #reverse_div,
  #notice,
  #map_menu,
  #footer,
  #secondary,
  #ft {
    display: none;
  }
}
