<h1>Create Location</h1>

<div class="location">
	<%= start_form_tag :action => 'create' %>
  	<%= render :partial => 'form' %>
  	<%= submit_tag "Create Location" %>
	<%= end_form_tag %>
</div>

<script>
	Event.observe(window, 'load', function() {

	});
</script>