<h1>Create Location</h1>

<div class="location">
	<% form_for(:location, :url => locations_path) do |f| %>
  		<%= render :partial => 'form' %>
		<%= submit_tag "Create Location" %>
	<% end %>
</div>

<script>
	Event.observe(window, 'load', function() {

	});
</script>
