<!-- Center Marker -->
<div id="center_marker" style="display: none;" width="0" height="0">
  <div class="info_win">
    <ul>
      <li>
        <a href="#identify-intersection-at-center"
           title="Identify intersection at center of map (red dot)"
           onclick="byCycle.UI.identifyIntersection(byCycle.UI.map.getCenter()); return false;"
           >Identify closest intersection</a>
      </li>

      <li>
        <a href="#identify-street-at-center"
           title="Identify street at center of map (red dot)"
           onclick="byCycle.UI.identifyStreet(byCycle.UI.map.getCenter()); return false;"
           >Identify closest street</a>
      </li>

      <li>
        Set as
        <a href="#set-as-start"
           onclick="var _el = byCycle.UI.s_el; _el.value = byCycle.UI.map.getCenterString(); _el.focus(); return false;"
           >start</a> or
        <a href="#set-as-end"
           onclick="var _el = byCycle.UI.e_el; _el.value = byCycle.UI.map.getCenterString(); _el.focus(); return false;"
           >end</a>
        address for route
      </li>
    </ul>
  </div>
</div>
<!-- End Center Marker -->