<p style="margin-top: 0;">
  The trip planner is under active development. Please
  <a href="http://www.bycycle.org/contact"
     title="Send us problems, comments, questions, &amp; suggestions (opens in new window)"
     target="byCyle_window"
     >contact us</a> 
     with any problems, comments, questions, or suggestions.
</p>

<p>
  If you find this application useful or would like to contribute to its
  improvement, please consider
  <a href="http://www.bycycle.org/support#donate"
     title="Donate (opens in new window)"
     target="byCyle_window"
     >donating</a>.
  Any amount helps.
</p>

<p>
  Users should independently verify all information presented here. This
  service is provided <b>AS IS</b> with <b>NO WARRANTY</b> of any kind.
  <em>Please be careful out there.</em>
</p>