<h2>Create Event</h2>

<%= error_messages_for :event %>

<div class="event">
	<% form_for(:event, :url => events_path) do |f| %>
		<%= render :partial => 'form' %>
		<%= submit_tag 'Create Event' %>
	<% end %>
</div>

<script>
	Event.observe(window, 'load', function() {
		var center = FNBMap.default_center;
		FNBMap.map.setCenter(center, FNBMap.default_zoom);
	});
</script>
