<%def name="map_controls()">
  <a id="bike-map-link"
     href="#bike-map"
     title="Show/hide bike map"
     ><span id="toggle-bike-map">Show</span> bike map</a>
</%def>


<!-- Route preference form control -->
<%def name='route_pref()'>
  <select id="pref" name="pref" tabindex="8">
    <option value="default">- Route Type -</option>
    <option value="default">Normal</option>
    <option value="safer">Safer</option>
  </select>
</%def>


<%def name="ads()">
  <div id="bike-portland">
    <a href="http://www.bikeportland.org/"
       title="Portland, OR, bike news"
       target="byCycle-external-link"
       >BikePortland.org</a>
  </div>
</%def>
